@import url("./vars.css");

*{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--body-bg);
    color:var(--body-color)
}

body{
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: -1;
}

#upperDiv{
    margin: 0.5rem;
}
#time{
    margin-bottom: 1rem;
}

select{
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    cursor: pointer;

}
#newGameBtn{
    margin: 0.5rem 1rem;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: medium;
    font-weight: bold;
    background-color: var(--theme-btn-bg);
    border: 1px solid var(--body-color);
    cursor: pointer;
}

#themeBtn{
    border-radius: 100%;
    padding: 10px;
    font-size: large;
    background-color: var(--body-bg);
    border: 1px solid transparent;
    transition: 0.3s all ease-in;
    cursor: pointer;
    
}

#themeBtn:hover{
    background-color: var(--theme-btn-bg);
    border: 1px solid;
    transition: 0.3s all ease-in;
}



td{
    width: calc(100px + 2vw);
    height: calc(100px + 2vw);
    & div{
        display: flex;
        flex-wrap: wrap;
    }
    & button{
        width: calc(100%/3);
        height: calc((100px/3) + (2vw/3));
        border: 1px solid rgba(120, 120, 120, 0.1);
        transition: 0.2s all ease-in-out;
    }
}

@media screen and (max-width:500px){
    td{
        width: 33.33vw;
        height: 33.33vw;

        & button{
            width: calc(100%/3);
            height: 11.11vw;            
        }
    }
}

#up,#down{
    border-left: 5px solid var(--border-color);
    border-right: 5px solid var(--border-color);
    border-radius: 5px;

}
#left,#right{
    border-top: 5px solid var(--border-color);
    border-bottom: 5px solid var(--border-color);
    border-radius: 5px;

}
#center{
    border:5px solid var(--border-color);
    border-radius: 5px;
}

#numbersDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#numbersDiv div{
    position: relative;
    display: flex;
    justify-content: center ;
}
#numbersDiv h5{
    position: absolute;
    bottom: 0.7rem;
    background-color: initial;
    cursor: default;
}

#numbersDiv button{
    border-radius: 100%;
    border: 1px solid var(--border-color);
    margin: 0.5rem;
    font-size: larger;
    width: 60px;
    height: 60px;
}


@media screen and (max-width:500px){
    #numbersDiv button{
        width: 50px;
        height: 50px;
        font-size: medium;
    }
}

.highlight{
    background-color: var(--selected-bg);
    color: var(--body-bg);
    font-weight: bold;
}

#time{
    height: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
dialog{
    border-radius: 10px;
    border: none;
    margin: 2rem auto;
    position: absolute;
    box-shadow: 2px 2px 2px black;
    border: 1px solid;
    padding: 1.5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}
dialog::backdrop {
    background-color: black;
    opacity: 0.4;
}

dialog button{
    background-color: var(--theme-btn-bg);
    border-radius: 10px;
    border: 1px solid var(--body-color);
    margin-top: 1rem;
    font-size: medium;
    font-weight: bold;
    padding: 5px 10px;
}

#modalContent div{
    display: flex;
}
#modalContent h3{
    margin: 5px;
}