:root{
    --body-bg:whitesmoke;
    --body-color:black;
    --theme-btn-bg:lightblue;
    --border-color:orange;
    --selected-bg:sandybrown;
    --input-color:blue;

}

[data-theme="dark"]{
    --body-bg:#101030;
    --body-color:whitesmoke;
    --theme-btn-bg:navy;
    --border-color:rebeccapurple;
    --selected-bg:mediumpurple;
    --input-color:yellow;


}
[available="yes"]{
    color: var(--input-color);
}